.pusher {
  width: calc(100% - 260px);
  margin-top: 48px;
}
.pusher .items {
  padding: 20px;
}

.pusher .items .item:not(:first-child) {
  border-top: 1px solid rgb(27, 28, 29) !important;

}

.ui.vertical.sidebar {
  top: 48px;
}


.riei-field {
  width: 100% !important;
}
span.riei-field:hover {
  background-color: rgba(0, 181, 173, 0.20);
}


.toastify--top-right {
  top: 65px !important;
}
.toastify-content {
  background: #00b5ad !important;
}
