.pusher {
  width: calc(100% - 260px);
}
.pusher .items {
  padding: 0 20px;
  padding-top: 70px;
}
.ui.vertical.sidebar {
  top: 48px;
}


.riei-field {
  width: 100% !important;
}
span.riei-field:hover {
  background-color: rgba(0, 181, 173, 0.20);
}


.toastify--top-right {
  top: 65px !important;
}
.toastify-content {
  background: #00b5ad !important;
}
